*.pyc
.tox
*.egg
*.egg-info/
.coverage
*.pid
sftp-config.json
dist
build
*.debhelper
*.log
debian/files
output.xml
*.substvars
*.DS_Store
.idea
.vscode
*.ipynb
.ipynb_checkpoints/
dump.rdb
.cache/
.venv/
.eggs
AUTHORS
ChangeLog

